.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 15rem;
    height: 7rem;
    margin: 2.5rem;
    padding: 2.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    margin: 2.5rem;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e8d3d3;
    transition: transform 0.3s ease;
}

.user:hover {
    transform: scale(1.05);
}

.country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: 2.5rem;
    padding: 2.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.country:hover {
    transform: scale(1.05);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: 2.5rem;
    padding: 2.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

img{
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.card:hover {
    transform: scale(1.05);
}