.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 15rem;
    height: 7rem;
    margin: 2.5rem;
    padding: 2.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}
